@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;1,400&display=swap");

a.navbar-brand {
  color: white;
  font-family: "Dancing Script", cursive;
}

.navbar a.nav-link {
  color: white;
  font-family: "Dancing Script", cursive;
  position: relative;
}

.navbar a.nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-out;
}

.navbar a.nav-link:hover::before {
  width: 100%;
}