/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,600;1,400&display=swap");

a.navbar-brand {
  color: white;
  font-family: "Dancing Script", cursive;
}

.navbar a.nav-link {
  color: white;
  font-family: "Dancing Script", cursive;
} */
