main {
  background-image: url(/src/assets/landing_img.jpg);
  background-repeat: repeat-y;
}

.container {
  padding: 20px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipes-section h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #2c2c2c;
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: lighter;
  padding: 0;
}

.recipes-section h2 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #2c2c2c;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 100px;
  padding: 0;
}

.recipe-card {
  flex-basis: 30%;
  margin-bottom: 20px;
}

/* input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
} */

div.card-title.h5 {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: white;
  text-align: center;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  background: black;
}

div.card-body {
  height: 200px;
  display: flex;
  flex-direction: column;
}

button.btn.btn-primary {
  background: white;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
  margin-bottom: 20px;
  display: block;
  margin: auto;
}

button.btn.btn-primary:hover {
  background: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

img.card-img-top {
  border: 5px solid black;
  border-radius: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.card {
  margin-bottom: 10px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .recipe-card {
    flex-basis: 45%;
  }
}

@media (max-width: 576px) {
  .recipe-card {
    flex-basis: 100%;
  }
}
